.card {
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-height: 300px;
  width: 300px;
  margin: 20px;
  background-color: #2b7a78;
  color: #f1f1f1;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 3px 2px 8px 5px rgb(75, 74, 74);
  transition: 0.3s;
}
.card-image {
  width: 110px;
  border-radius: 5px;
  height: 110px;
  background-repeat: no-repeat;
  object-fit: cover;
}
.see-more {
  background-color: #2cad7e;
  color: rgb(255, 255, 255);
  border: #e2dcdc;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: static;
  width: 700px;
  height: 70vh;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20px; /* Adjust the margin top value to position the modal */
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.modal-container {
  display: flex;
  justify-content: space-evenly;
}
.sub-right {
  width: 350px;
}
.desc-container {
  padding-right: 5px;
  max-height: 300px;
  overflow-y: scroll;
}
.sub-left {
  width: 200px;
}
.sub-left img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.desc-para {
  margin: 0px 0px;
}
.desc {
  margin: 0px 0px;
}
@media (max-width: 567px) {
  .modal-content {
    position: static;
    width: 400px;
    height: 80vh;
    overflow: auto;
    margin: 0 auto;
    margin-top: 20px; /* Adjust the margin top value to position the modal */
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .sub-left {
    width: 150px;
    margin-right: 20px;
  }
}
